.ipynb_checkpoints/examplePlotWaveforms-checkpoint.ipynb
.ipynb_checkpoints/plotWaveforms-checkpoint.ipynb
.ipynb_checkpoints/preampCalibration-checkpoint.ipynb
.ipynb_checkpoints
__pycache__/PyPurityTools.cpython-37.pyc
__pycache__
